[include]
  path = ~/.config/delta/themes.gitconfig
[user]
  name = Steve Roche
  email = steve.roche.xyz@proton.me
  username = SteveRoche
  signingkey = E482D96087C672E9
[init]
  defaultBranch = main
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[commit]
  gpgsign = true
[merge]
  conflictstyle = zdiff3
[rerere]
  enabled = 1
  autoupdate = 1
[github]
  user = SteveRoche
[remote "origin"]
  prune = true
[delta]
  features = kingfisher
  navigate = true
  dark = true
